<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/adcd08db79.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="../main.css">
    <title>Awesome profile cards</title>
</head>

<body>
    <section class="main__cards">

        <section class="main__cards--section js-preview <%= palette %> ">
            <div class="grid-sidebar">
                <div class="main__cards--section__sidebar"></div>
                <h1 class="main__cards--section__title1 js_previewtext js_title">
                    <%= name %>
                </h1>
                <h2 class="main__cards--section__title2 js_previewtext js_job">
                    <%= job %>

                </h2>
            </div>
            <div class="main__cards--section__img profile__image js__profile-image"
                style="background-image:url(<%= photo %>)"></div>
            <nav>
                <ul class="main__cards--section__links">
                    <li>
                        <a class="main__cards--section__links--item icon-circle" id="mobile_link"
                            href="tel:<%= phone %>"><i class="fas fa-mobile-alt icon"></i></a>
                    </li>
                    <li>
                        <a class="main__cards--section__links--item icon-circle" target="blank" id="mail_link"
                            href="mailto:<%= email %>"><i class="far fa-envelope icon"></i></a>
                    </li>
                    <li>
                        <a class="main__cards--section__links--item icon-circle" id="linkedin_link" target="blank"
                            href="<%= linkedin %>"><i class="fab fa-linkedin-in icon"></i></a>
                    </li>
                    <li>
                        <a class="main__cards--section__links--item icon-circle" id="github_link" target="blank"
                            href="<%= github %>"><i class="fab fa-github-alt icon"></i></a>
                    </li>
                </ul>
            </nav>
        </section>
    </section>

</body>

</html>